backports.functools-lru-cache==1.4
configobj==5.0.6
cycler==0.10.0
decorator==4.1.2
future==0.17.1
joblib==0.11
matplotlib==2.1.1
natsort==6.0.0
networkx==1.11
numpy==1.13.3
pandas==0.24.2
pillow>=6.2.0
pycairo==1.16.2
pygobject==3.26.1
pyparsing==2.2.0
pyparted==3.11.1
python-apt==1.6.3
python-dateutil==2.6.1
python-xlib==0.20
pytz==2018.3
PyWavelets==0.5.1
pyxdg==0.26
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.19.1
setproctitle==1.1.10
six==1.11.0
subprocess32==3.2.7

